*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.3em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}

nav {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 70px;
    margin-left: 15px;
}

.menu-hamburguesa {
    display: none;
    cursor: pointer;
    font-size: 30px;
    color: rgb(0, 0, 0);
    /* Color del ícono */
    transition: color 0.3s;
    margin-right: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

nav li {
    position: relative;
    display: inline-block;
    margin-right: 25px;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav a:hover {
    background-color: #ff6a00;
    color: #fff;
}

.dropdown {
    display: none;
    position: absolute;
    backdrop-filter: blur(50px);
    z-index: 1000;
}

.dropdown a {
    display: block;
    white-space: nowrap;
}

nav li:hover .dropdown {
    display: block;
}

#seccion1 {
    background: url(/IMAGENES/ImagenPrincipal.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    color: aliceblue;
    text-align: center;
}

.conten button {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    background-color: rgba(8, 20, 47, 1);
}

.conten button:hover {
    background-color: rgb(42, 133, 156);
}



#hero{
    font-size: 25px;
    margin-top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: aliceblue;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/IMAGENES/PRINCIPAL.jpg");
    background-repeat: no-repeat;
    background-repeat: cover;
    background-position: center center;
}

#hero .container{
    margin-bottom: 40px;
    margin-top: 40px;
}

#hero2 .container{
    display: flex;
}

#hero2 p{
    text-align: justify;
    margin-bottom: 30px;
    margin-top: 120px;
    margin-left: 80px;
    font-size: 25px;
}

#hero2 img{
    margin-top: 40px;
}

#hero3 .container{
    display: flex;
    text-align: center;
    padding: 50px 10px;
}


#hero3 .texto-dos{
    margin-top: 100px;
}

#hero3 h2{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 45px;
}

#hero3 p{
    margin-bottom: 30px;
    text-align: justify;
    font-size: 25px;
}
#hero3 img{
    margin-top: 60px;
    margin-left: 100px;
}

.titulo{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

/*COLUMNA 1*/
.container-uno{
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
}

.frente{
    display: flex;
    flex-direction: column;
}

.ods-ImagenTexto{ 
    font-size: 12px;
    position: relative;
}

.ods-ImagenTexto h2{
    text-align:center;
    width: 430px;
    color:black;
    
}

.ods1{
    background-color: rgba(154, 0, 0, 1);
    width: 431px;
}

.ods2{
    background-color: rgba(205, 141, 4, 1);
    width: 431px;
}

.ods3{
    background-color: rgba(39, 134, 80, 1);
    width: 431px;
}

.general {
    position: relative;
    width: 430px;
    height: 310px;
    margin: 20px;
    perspective: 1000px;
}

.frente,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.5s;
}

.frente, .back h2{
    text-align: center;
}

.frente, .back p{
    text-align: justify
}

.frente {
    background-color: #ffffff;
    transform: rotateY(0deg);
    font-size: 12px;
    color: white;
    text-align: center;
}

.back {
    background-color: #ffffff;
    transform: rotateY(180deg);
    width: 430px;
    height: 250px;
}

.general:hover .frente {
    transform: rotateY(180deg);
}

.general:hover .back {
    transform: rotateY(0deg);
}

/*COLUMNA 2*/
.container-dos{
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
}

.frente{
    display: flex;
    flex-direction: column;
}

.ods-ImagenTexto{ 
    font-size: 12px;
    position: relative;
}

.ods-ImagenTexto h2{
    text-align:center;
    width: 430px;
    color:black;
    
}

.ods4{
    background-color: rgba(195, 31, 51, 1);
    width: 431px;
}

.ods5{
    background-color: rgba(200, 60, 0, 1);
    width: 431px;
}

.ods6{
    background-color: rgba(0, 144, 154, 1);
    width: 431px;
}

.general {
    position: relative;
    width: 430px;
    height: 310px;
    margin: 20px;
    perspective: 1000px;
}

.frente,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.5s;
}

.frente, .back h2{
    text-align: center;
}

.frente, .back p{
    text-align: justify
}

.frente {
    background-color: #ffffff;
    transform: rotateY(0deg);
    font-size: 12px;
    color: white;
    text-align: center;
}

.back {
    background-color: #ffffff;
    transform: rotateY(180deg);
    width: 430px;
    height: 250px;
}

.general:hover .frente {
    transform: rotateY(180deg);
}

.general:hover .back {
    transform: rotateY(0deg);
}

/*COLUMNA 3*/
.container-tres{
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
}

.frente{
    display: flex;
    flex-direction: column;
}

.ods-ImagenTexto{ 
    font-size: 12px;
    position: relative;
}

.ods-ImagenTexto h2{
    text-align:center;
    width: 430px;
    color:black;
    
}

.ods7{
    background-color: rgba(222, 166, 45, 1);
    width: 431px;
}

.ods8{
    background-color: rgba(143, 24, 56, 1);
    width: 431px;
}

.ods9{
    background-color: rgba(193, 99, 32, 1);
    width: 431px;
}

.general {
    position: relative;
    width: 430px;
    height: 310px;
    margin: 20px;
    perspective: 1000px;
}

.frente,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.5s;
}

.frente, .back h2{
    text-align: center;
}

.frente, .back p{
    text-align: justify
}

.frente {
    background-color: #ffffff;
    transform: rotateY(0deg);
    font-size: 12px;
    color: white;
    text-align: center;
}

.back {
    background-color: #ffffff;
    transform: rotateY(180deg);
    width: 430px;
    height: 250px;
}

.general:hover .frente {
    transform: rotateY(180deg);
}

.general:hover .back {
    transform: rotateY(0deg);
}

/*COLUMNA 4*/
.container-cuatro{
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
}

.frente{
    display: flex;
    flex-direction: column;
}

.ods-ImagenTexto{ 
    font-size: 12px;
    position: relative;
}

.ods-ImagenTexto h2{
    text-align:center;
    width: 430px;
    color:black;
    
}

.ods10{
    background-color: rgba(225, 20, 132, 1);
    width: 431px;
}

.ods11{
    background-color: rgba(176, 120, 16, 1);
    width: 431px;
}

.ods12{
    background-color: rgba(99, 88, 9, 1);
    width: 431px;
}

.general {
    position: relative;
    width: 430px;
    height: 310px;
    margin: 20px;
    perspective: 1000px;
}

.frente,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.5s;
}

.frente, .back h2{
    text-align: center;
}

.frente, .back p{
    text-align: justify
}

.frente {
    background-color: #ffffff;
    transform: rotateY(0deg);
    font-size: 12px;
    color: white;
    text-align: center;
}

.back {
    background-color: #ffffff;
    transform: rotateY(180deg);
    width: 430px;
    height: 250px;
}

.general:hover .frente {
    transform: rotateY(180deg);
}

.general:hover .back {
    transform: rotateY(0deg);
}

/*COLUMNA 5*/
.container-cinco{
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
}

.frente{
    display: flex;
    flex-direction: column;
}

.ods-ImagenTexto{ 
    font-size: 12px;
    position: relative;
}

.ods-ImagenTexto h2{
    text-align:center;
    width: 430px;
    color:black;
    
}

.ods13{
    background-color: rgba(51, 119, 62, 1);
    width: 431px;
}

.ods14{
    background-color: rgba(0, 125, 188, 1);
    width: 431px;
}

.ods15{
    background-color: rgba(62, 176, 73, 1);
    width: 431px;
}

.general {
    position: relative;
    width: 430px;
    height: 310px;
    margin: 20px;
    perspective: 1000px;
}

.frente,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.5s;
}

.frente, .back h2{
    text-align: center;
}

.frente, .back p{
    text-align: justify
}

.frente {
    background-color: #ffffff;
    transform: rotateY(0deg);
    font-size: 12px;
    color: white;
    text-align: center;
}

.back {
    background-color: #ffffff;
    transform: rotateY(180deg);
    width: 430px;
    height: 250px;
}

.general:hover .frente {
    transform: rotateY(180deg);
}

.general:hover .back {
    transform: rotateY(0deg);
}

/*COLUMNA 6*/
.container-seis{
    display: flex;;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10rem;
    justify-content: center;
    flex-direction: row;
}

.frente{
    display: flex;
    flex-direction: column;
}

.ods-ImagenTexto{ 
    font-size: 12px;
    position: relative;
}

.ods-ImagenTexto h2{
    text-align:center;
    width: 430px;
    color:black;
    
}

.ods16{
    background-color: rgba(2, 85, 139, 1);
    width: 431px;
}

.ods17{
    background-color: rgba(24, 54, 104, 1);
    width: 431px;
}

.general {
    position: relative;
    width: 430px;
    height: 310px;
    margin: 20px;
    perspective: 1000px;
}

.frente,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.5s;
}

.frente, .back h2{
    text-align: center;
}

.frente, .back p{
    text-align: justify
}

.frente {
    background-color: #ffffff;
    transform: rotateY(0deg);
    font-size: 12px;
    color: white;
    text-align: center;
}

.back {
    background-color: #ffffff;
    transform: rotateY(180deg);
    width: 430px;
    height: 250px;
}

.general:hover .frente {
    transform: rotateY(180deg);
}

.general:hover .back {
    transform: rotateY(0deg);
}

/* FOOTER */
.footer{
    background-color: rgb(189, 189, 189);
    text-align: center;
}

.footer .icono{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
}

.footer .icono li{
    list-style: none;
}

.footer .icono li a {
    width: 60px;
    height: 60px;
    background-color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}

.footer ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}

.footer ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

.footer ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

.footer ul li a:hover:before {
    top: 0;
}

.footer ul li:nth-child(1) a:before {
    background: rgba(41, 170, 225, 1);
}

.footer ul li:nth-child(2) a:before {
    background: rgba(0, 56, 130, 1);
}

.footer ul li:nth-child(3) a:before {
    background: #ff0f0f;
}

.footer ul li:nth-child(4) a:before {
    background: linear-gradient(rgba(252, 1, 216, 1),rgba(255, 152, 2, 1));
}

.footer .busquedas li{
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 20px;
    
}

.footer .copyright{
    font-weight: bold;
    font-size: 13px
}

@media (max-width: 768px) {
    .menu-hamburguesa {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #efefef;
        padding: 0;
        margin-top: 30px;
    }

    nav.active ul {
        display: flex;
    }

    nav ul li {
        font-size: 18px;
        text-align: center;
        padding: 0;
        margin-right: 0;
    }

    .dropdown a {
        display: none;
    }
}